body{font-family: 'Lato', sans-serif;
    color: black;
}

*Alert*/
 
.alert-container{}
 
.alert-container .col-12{
    
padding-right: 0;
padding-left: 0;
margin-right: 0px;
width: 100%;

}


.site-wide-alert{
    color:white;
    text-align: center;
    background-color: cadetblue;
    border-color: cadetblue;
    padding:5px 0px;
    margin-bottom: 0;
    border: 1px solid transparent;
    border-radius: 0;
    width: 110%;
    margin-right: 0;
}
 
.site-wide-alert a{
    color: white;
    margin-left: 0px;
    text-decoration:underline;
}

.navbar{
    margin-bottom:0;
    width:110%;
    background-color: black;
}
 
.navbar .navbar-toggler{
    border:0;
}
 
.navbar .navbar-brand{
    font-weight: bold;
}
 
.navbar .navbar-nav a{
    font-weight: bold;
}

 #bg-image{
    background: url("http://codeinstitute.s3.amazonaws.com/FundamentalsProjects/HTML-CSS/main-image.png") no-repeat center center;
    height: 250px;
    width: 70%
    overflow: hidden;
    position: relative;}
    

 
.bg-container{
    height: 250px;
    width:110%;
    padding-left: 15px;
    padding-right: 20px;
    background: url("css/images/girl1.jpg") no-repeat center center fixed; }