body{font-family: 'Lato', sans-serif;
    color: black;
}
*{
    margin:0;
    padding: 0;
    border:0;}

.header{
    padding-top:20px;
}
.alert-container.col-12{
    padding left:0;
    padding-right: 0;
    width: 100%;
}



.alert-banner{
    text-align: center;
    color:white;
    background-color: cadetblue;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border: 1px solid black;
  
}


.navbar{
    margin-top: 0;
    margin-bottom:0;
    width:100%;
    height: 75px;
    background-color: black;
    font-weight: 400;
}

 
.navbar-brand{
    font-size: xx-large;
    font-weight: 700;
    color: #fff;
    padding-right: 20px;
}
 
.navbar .navbar-nav a{
    font-weight: 300;
    text-align: center;
}



 #bg-image{
    background: url("http://codeinstitute.s3.amazonaws.com/FundamentalsProjects/HTML-CSS/main-image.png") no-repeat center center;
    height: 250px;
    width: 100%
    overflow: hidden;
    position: relative;
border: 1px solid black;}
    

 
.bg-container{
    height: 250px;
    width:100%;
    border: 1px solid black;
    
    background: url("css/images/girl1.jpg") no-repeat center center fixed; }


    /*Welcome*/

    .testimonial-container{
    width:100%;
    border: 1px solid black;
    }

    .welcome-container{
    width:100%;
    border: 1px solid black;
    }

    
   .testimonials{
    background-color: cadetblue;
    text-align: center;
     height: 100%;
    width:100%;
   padding-left: 10px;
    padding-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    
  
    
}
     

.welcome{
     background-color:#ebe3e3;
     text-align: center;
     
     height:100%;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    margin-left: 0px;
    margin-right: 40px;} 



   .footer-container{
        width:100%
        
    margin-top:20px;
}
    
    




.footer{

    background-color:#ebe3e3;
    height:100%;
    width: 100%;
    padding-left: 30px;
    padding-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top:20px ;
    border: 1px solid black;}  

    
    .hours{
     list-style-type: none;
     border: 1px solid black;
     background-color: #fff;
     color: black;
     width: 175px;
     text-align: center;
     padding-left: 5px;
     padding-top: 20px;
     padding-bottom: 20px;
     
 }

 .inline-block{
     display: inline;
     width: 100px;
     height: 100px;
     padding:20px;
     
 }

 .bottom-footer-container{
    width:100%;
    padding-left: 0px;
    border: 1px solid black;
    
    
}

.bottom{
    height:75px;
    width:100%;
    background-color:cadetblue;
    color:#fff;
    padding-left:5px;
    margin-top:0;
    margin-left: 0px;
    margin-right:0px;

}

 /*Social-Networks*/
.social-networks{
    list-style-type: none;
    
}
 
.social-networks li{
 
    float:right;
    padding:2.5%;
    margin-top: 2px;
    padding-bottom: 10px;
}
 
.social-networks li i{
    color: white;
    
}

.embed-responsive-item{
    padding-right:30px;
    padding-left: 30px;
  padding-bottom: 20px;
    
  width:100%; 
  height:50vw;
  
}

     

.head{
     font-size: 30px;   
    margin-top: 40px;
    }



.copyright{
    margin-top:20px;
}
/*General Enquiry*/

.form-container{
  
    width:100%;
    }

.form{

     background-color:#ebe3e3;
     text-align: center;
     height: 400px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: cadetblue;}
}
.center-form{
    position: absolute;
    width:60%;
    margin-left: 60px;
    margin-right: 40px;
    padding-left: 60px;
    padding-right: 40px;
}

.form-section{
     clear: left;
     background: url("https://codeinstitute.s3.amazonaws.com/FundamentalsProjects/HTML-CSS/formbg.jpg");
     background-size: cover;
     background-position: center;
     overflow: hidden;
     height: 900px;
     width:110%;
    padding-left: 15px;
    padding-right: 20px;}

    .signup-form{
     margin-top: 150px;
     color: #fff;
     background-color: rgba(60, 60, 60, 0.6);
     max-width: 400px;
     position: absolute;
     left: 10%;
     padding:30px;
 }
 
.signup-form h2{
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input{
    background-color: #fafafa;
    color:#000;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover{
    border-color: #f16c6b;
}

.join-button{
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: cadetblue;
    color: #fafafa;
    display: block;
}

.join-button:hover{
    background-color: green;
    color:#fff;
}